*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #1E0D50;
}

header{
    display: flex;
    width: 100%;
    padding: 17px;
    gap: 60px;
}

header img{
    height: 60px;
}

p{
    color: white;

}

.pure-g{
    display: flex;
    gap: 90px;
    font-size: 16px;
}